    body {
    width: 100%;
    height: auto;
    overflow: auto;
}

svg {
    margin: 0 auto;
    float: none;
}

input {
    border: 1px solid black;
}

.container {
    margin: 0 auto;
    margin-top: 5%;
}

.content {
    margin-top: 7%;
    clear: left;
}

.thumbnail {
    border-radius: 100%;
    width: 57px;
    height: 57px;
    margin: 3px;
    padding: 0px;
    position: fixed;
    border: 0;
    top: 0;
    right: 0;
    margin-right: 15px;
}

.choice {
    max-height: 175px;
}

.rain {
    margin-top: 100px;
}

.logoutmenu {
    position: relative;
    float: right;
}

.dropdown {
    margin-left: 75px;
}

.wins,
.losses {
    font-size: 1.2em;
}

.hello {
    width: 100%;
    margin: 0 auto;
}

.glyphicon {
    font-size: 4em;
    color: black;
}

.col-md-4 a {
    font-size: 2em;
    width: 100%;
    text-align: center;
}

div.navbar-header {
    background: #233142;
    width: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    border-radius: 0px;
    background: #233142;
    border: 0;
}

.navbar-right {
    margin-right: 20px;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: transparent;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover .navbar-text {
    background-color: transparent;
}

.navbar-brand {
    font-family: 'Baloo Bhaina', cursive;
    color: #ffd700 !important;
    font-size: 2em;
    margin-top: 10px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-text {
    color: #e3e3e3;
    display: inline;
}

.navbar-default .navbar-nav>li>a {
    color: #e3e3e3;
}

.navbar-default a.navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover {
    color: #f95959;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    text-align: center;
}

.navbar-collapse.in {
    overflow-y: auto;
    background-color: #233142;
    position: fixed;
}

.navbar-toggle {
    position: relative;
    float: left;
    background-color: white;
    font-size: 0.8em;
    border: 0px;
    border-radius: 0px;
}

ul.nav.navbar-nav {
    position: fixed;
    top: 0px;
    left: 150px;
}

p.navbar-text.navbar-right {
    float: right;
    background: #233142;
}

p.navbar-text.navbar-right.losses {
    margin-right: 80px;
}

.row {
    display: block;
    /*	width: 1250px;*/
    float: none;
    clear: both;
    margin: 0 auto;
}

.btnReplay {
    opacity: 0;
    margin-bottom: 2%;
}

.start,
.btnReplay,
.devView {
    float: none;
    color: #fff;
    border-radius: 20px;
    background-color: #455d7a;
}

.start:hover,
.btnReplay:hover,
.devView:hover {
    background-color: #f95959;
    color: #fff;
    border: 1px solid #f95959;
}

.panel {
    overflow: auto;
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    margin-top: 200px;
    z-index: -10;
    opacity: 0;
}

#closeDev {
    z-index: 100;
}

#checkersBoard {
    width: 650px;
    height: 650px;
    margin: auto;
    display: block;
    float: initial;
}

.row .gamerow {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

.btn-container {
    text-align: center;
}

.alert-info {
    visibility: hidden;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    height: 50px;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #e3e3e3;
    }
    div.btn-container {
        margin-top: 15px;
    }
    ul.nav.navbar-nav {
        position: static;
    }
}

@media (max-width: 480px) {
    div.container-fluid {
        padding: 0px;
    }
    .container-fluid>.navbar-header {
        margin: 0;
    }
    p.navbar-text.navbar-right {
        clear: left;
    }
