/*@font-face {
    font-family: Gotham-md;
    src: url(/font/gotham-medium.ttf);
}
@font-face {
    font-family: Gotham-rg;
    src: url(/font/gotham-light.ttf);
}*/

/*@font-face {
    font-family: Gotham-rg;
    src: url(/font/gotham-regular.ttf);
}*/

#main {
    margin-bottom: 100px;
}

body {
    font-family: 'Gotham-md', sans-serif;
}

h1{
    font-family: 'Gotham-md', sans-serif;
    font-size: 33px;    
    letter-spacing: 9px;
     text-transform: uppercase;
    }

 h2{
    font-family: 'Gotham-md', sans-serif;
    font-size: 26px;    
    letter-spacing: 10px;
     text-transform: uppercase;
    }
h3{
    font-family: 'Gotham-md', sans-serif;
    font-size: 16px;    
    letter-spacing: 4px;
    text-transform: uppercase;
    }

h4{
    font-family: 'Gotham-md', sans-serif;
    font-size: 14px;    
    letter-spacing: 3x;
    text-transform: uppercase;
    }

h5{
    font-family: 'Gotham-rg', sans-serif;
    font-size: 10px;    
    letter-spacing: 2px;
    text-transform: uppercase;
    }    

p{
    font-family: 'Gotham-rg', sans-serif;
    font-size: 14px;    
    }

    .btn{
        font-family: 'Gotham-md', sans-serif;
    }

.nav {
    font-family: 'Gotham-md', sans-serif;
    font-size: 11px;    
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.logo {
    height: 60px;
    margin: 0 20px;

}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #000000;
    border-radius: 0;
}

.btn-default {
        color: #fff;
    background-color: #000000;
    border-radius: 10px;
    border:none;

}

.btn-default:hover{
        color: #000000;    
     border:none;

}

.nav-pills a{
    color: #000000;
    background-color:white;
    border-radius: 0;
}
.nav-pills a:hover{
    color: #000000;
    border-radius: 0;
}

.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 0px;
    background-color: #f6f6f6;
}

.jumbotron p {
    font-size: 18px;
}

a:hover {
    text-decoration: none;
}

.pic img{
 width:350px;
 height:150px;
 border-style: 2px solid black;   
}
input{
 border-style:2px solid cyan;   
    margin:15px;
}

/* accent color: FF5252 